#app, .theme-container {
    height: 100vh;
    font-size: 14px;
    line-height: 16px;
}

div.footer {
    padding: 1.5rem !important;
}

.home {
    height: calc(100% - 3.6rem);
    flex-direction: column !important;
    display: flex !important;
    padding-bottom: 0 !important;
}

div.theme-default-content:not(.custom) {
    max-width: 100vw - 30rem;
}

span.prev {
    margin-right: 10px;  
}
span.next {
    margin-left: 10px;
}